<div class="mainCard" [ngClass]="{ supplier: contact.job === 'supplier' }">
  <div class="imgContainer">
    <img src="{{ contact.image }}" alt="" />
  </div>
  <div class="infoContainer">
    <div class="nameContainer">
      <span
        ><strong>{{ contact.nom }} </strong>
      </span>
      <span>{{ contact.prenom }} </span>
    </div>
    <div id="contactDetailContainer">
      <p>{{ contact.tel }}</p>
      <p>{{ contact.mail }}</p>
      <p>{{ contact.job }}</p>
    </div>
  </div>
</div>
